<% if user_signed_in? %>

<h1>You're Signed in!</h1>

<% else %>

<div class="center hero-unit">
    <h1>Welcome to Lance's First Web Application.</h1>

    <h2>
      I'm a product designer currently learning Ruby on Rails. Try visiting my 
      <a href="http://lanc.es/">personal site</a>
     too.
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
</div>


<% end %>